// *,*::before,*::after{
//     outline:1px red solid;
// }

.letter-spacing-16{
    letter-spacing: 16px;
}
.letter-spacing-32{
    letter-spacing: 32px;
}
.letter-spacing-48{
    letter-spacing: 48px;
}
.letter-spacing-80{
    letter-spacing: 80px;
}
