<!-- <a href="index.html"><h1 class="fs-4 fst-italic">ALPHABOX+</h1></a>
<div class="">
    <a href="product.html">產品</a>
    <a href="about.html">關於我們</a>
    <a href="news.html">最新消息</a>
    <a href="faq.html">FAQ</a>
    <a href="contact.html">聯絡我們</a>
</div> -->

<nav class="navbar navbar-expand-lg justify-content-between bg-primary-200 navbar-dark">
    <div class="container">
      <a class="navbar-brand font-shrikhand fst-italic fs-4" href="#">ALPHABOX+</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between navbar-bg" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link me-10" aria-current="page" href="#">產品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-10" href="#">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-10" href="#">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-10" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">聯絡我們</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link me-6" aria-current="page" href="#">註冊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-8" href="#">登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn bg-white text-dark d-flex px-4" href="#"><span class="material-symbols-outlined me-1">
                point_scan
                </span><span>訂閱</span></a>
            </li>
          </ul>
      </div>
    </div>
  </nav>